# .env
.env.local
.env.*.local

# Logs
logs/
*.log
npm-debug.log*

# Dependencies
node_modules/

# Docker volumes
data/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Angular
dist/
tmp/
out-tsc/
.angular/

# Build
build/
